/* !Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap');

/*! Main */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
}

.container{
    max-width: 1920px;
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

/* !header */
.header {
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    width: 100%;
}

.header-container {
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heder-inner {
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 85px;
}

.nav-item:last-child {
    margin-right: 70px;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 19px;
    color: #000000;
}

.search-btn {
    width: 26px;
    height: 26px;
    padding: 0;
    margin-left: 12px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* !section-hero */
.hero {
    height: 620px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.hero-container {
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.hero-content-controller {
    max-width: 840px;
    padding: 0;
    margin: 0;
}

.heading-section-hero {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 70px;
    margin: 0;
    margin-bottom: 18px;
    line-height: 86px;
    color: #FFFFFF;
}

.description-section-hero {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 23px;
    margin: 0;
    margin-bottom: 95px;
    line-height: 29px;
    color: #FFFFFF;
}

.btn-heading {
    display: block;
    padding: 27px 41px;
    font-size: 23px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #FF9900;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
    border-radius: 16px;
}

.swiper-slide {
    border-radius: 32px;
    padding: 106px 0 0 78px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* !Слайды */
.slide-1 {
    background-image: url(../img/hero/hero-bg-1.jpg);
}

.slide-2 {
    background-image: url(../img/hero/hero-bg-2.jpg);
}

.slide-3 {
    background-image: url(../img/hero/hero-bg-3.jpg);
}

/* !Section-info */
.section-info {
    height: 100%;
    margin-bottom: 100px;
}

.info-imge-worker {
    width: 868px;
    height: 622px;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(../img/section-info/worker.jpg);
    border-radius: 32px;
}

.info-imge {
    display: flex;
}



.info-worker-description {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    width: 600px;
    height: 96px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.info-worker-description-blok {
    position: relative;
    width: 868px;
    height: 196px;

    margin-left: 0px;
    margin-top: 426px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.btn-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 19px 38px;
    gap: 10px;
    width: 175px;
    height: 60px;
    margin-left: 643px;
    margin-top: -30px;
    border: 3px solid #FF9900;
    border-radius: 16px;
    background-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.info-box-container {
    display: flex;
    flex-direction: column;

}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;

    width: 870px;
    height: 295px;
    margin-left: 50px;
    margin-top: 30px;
}



.img-info-box {
    width: 190px;
    height: 165px;
    margin-right: 600px;
    margin-top: 65px;
}

.heading-box {
    width: 500px;
    height: 29px;
    margin-left: 200px;
    margin-top: 65px;
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.description-box {
    position: absolute;
    width: 450px;
    height: 128px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-left: 150px;
    margin-top: 102px;

    color: #000000;
}

/* !section-about-work */
.section-about-work {
    height: 100%;
    width: 100%;
}

.about-work-container {
    display: flex;
    flex-direction: column;
}

.work-list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.work-list-item:not(:last-child) {
    margin-right: 90px;
}

.btn-work {
    border: none;
    background-color: transparent;
    width: 65px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    cursor: pointer;
}

.btn-work-active {
    color: #E1670E;
}

.about-content-left {
    display: flex;
    flex-direction: column;
}

.about-work-heading {
    width: 331px;
    height: 32px;
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    /* identical to box height, or 133% */

    color: #333333;
}

.about-work-disciption {
    width: 758px;
    height: 320px;
    margin-left: 0px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.about-content-right {
    display: flex;
    flex-direction: column;
    margin-top: -370px;
    margin-bottom: 500px;
    margin-left: 900px;
}

.about-img {
    background-image: url(../img/section-about-work/about-work01.png);
    width: 870px;
    height: 460px;
    border-radius: 32px;
    position: absolute;
}

.about-btn-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.about-btn {
    width: 175px;
    height: 60px;
    margin-left: 0px;
    margin-top: -176px;
    border: none;

    background: #FF9900;
    border-radius: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}


.сontract-btn {
    width: 175px;
    height: 60px;
    margin-left: 5px;
    margin-top: -176px;
    background: none;
    border-radius: 16px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    cursor: pointer;
}

/*! Section-questions */

.Section-questions {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 500px;
}

.questions-heading {
    width: 693px;
    height: 59px;
    margin-left: 0px;
    margin-top: 11px;
}


.questions-wrapper {
    position: relative;
    padding: 40px 0;
    border-top: 1px solid #CACACA;
}

.questions-wrapper-end {
    display: block;
    padding: 40px 0;
    border-top: 1px solid #CACACA;
}

.questions-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.accordion-icon {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 100%;
    background-image: url("../img/accordion-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .3s ease-in-out;
    background-color: #ececec;
}

.questions-descrption {
    line-height: 32px;
    font-size: 16px;
    margin: 0;

}

/* !Footer */
.footer {
    padding-top: 48px;
    padding-bottom: 20px;
    background-color: #000000;
}

.footer-container {
    display: flex;
    align-items: flex-start;
}

.footer-left-content {
    width: 34%;
}

.footer-logo {
    display: block;
    margin-bottom: 15px;
}

.footer-list {
    margin-bottom: 113px;
}

.footer-item:not(:last-child) {
    margin-bottom: 16px;
}

.footer-link {
    font-weight: 600;
    font-size: 18px;
    color: #CACACA;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-icon:not(:last-child) {
    margin-right: 25px;
}

.vk-icon {
    background-image: url(../img/Social/vk.svg)
}

.instagram-icon {
    background-image: url(../img/Social/instagram.svg);
}

.facebook-icon {
    background-image: url(../img/Social/fb.svg);
}

.footer-right-content {
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    display: flex;
    width: 66%;
}

.footer-wrapper {
    min-width: 570px;
}

.footer-heading {
    width: 408px;
    height: 59px;
    margin-left: 0;
    margin-top: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */


    color: #CACACA;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    border: none;
    padding-left: 24px;
    height: 60px;
    margin-bottom: 25px;
    background: #414141;
    border-radius: 16px;
}

.form-area {
    background: #414141;
    border-radius: 16px;
}

.btn-footer-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 5px;
    gap: 10px;
}

.form-btn {
    width: 269px;
    height: 58px;
    background: #FF9900;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.checkbox {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: 0px;


    border: 1px solid #CACACA;
    border-radius: 2px;
}

.checkbox-text {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;
    color: #CACACA;
}

.text-footer {
    position: absolute;
    width: 363px;
    height: 320px;
    margin-left: 750px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    color: #CACACA;
}



/* !Status */

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF9900
}

.nav-link:focus::after,
.nav-link:hover::after {
    width: 100%;
    transition: width .3s
}

.nav-link:focus {
    color: #FF9900;
}

.swiper-pagination-bullet {
    margin: 15px 10px!important;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF
}